.bit-background{
	width:45%;
}

.bit-background-container{
	position: relative;
}

.walking-chocobo{
	width: 7%;
    position: absolute;
    right: 0;
    bottom: 60px;
}

#audio_on {
	display: inline;
}
#audio_mute {
	display: none;
}